header {
    background-image: url("../assets/header-burger.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 110px 0;
}

h1 {
    margin: 10px 0 0 0;
    color:#E75605;
    text-align: end;
    font-weight: 400;
    line-height: 120px;
    font-size: 14rem;
    padding-right: 100px;
    padding-bottom: 30px;
}