@media (max-width: 480px) {
    // general styles
    .wrapper, .headerWrapper {
        padding: 0 20px;
    }
    
    nav {
        padding: 0;
        position: relative;
    }

    p, form {
        font-size: 2.2rem;
    }

    .btn {
        font-size: 2.2rem;
    }

    // nav
    .hamburgerMenu {
        display: block;
        position: relative;
        z-index: 1;
        opacity: 1;
    }

    .hamburgerMenu input {
        display: block;
        width: 60px;
        height: 40px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        z-index: 3;
        opacity: 0;
    }

    .hamburgerMenu span {
        display: block;
        width: 60px;
        height: 8px;
        margin-bottom: 8px;
        position: relative;
        background-color: #1F2022;
    }

    .hamburgerIcon {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
    }

    .sliderMenu {
        background-color: white;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 5;
        transform-origin: 0% 0%;
        transform: translate(-100%,0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .closeBtn {
        opacity: 1;
        border: none;
        background-color: transparent;
        color:#E75605;
        font-size: 6rem;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;

    }
    .closeBtn:hover,
    .closeBtn:focus {
        font-weight: 600;
        color:#1F2022;
    }

    .menu, .icons {
        font-size: 6rem;
        text-align: center;
    }

    .menu {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        padding-bottom: 50px;
    }

    .icons {
        bottom: 10vh;
        right: 8%;
        color:#1F2022;
    }
    .icons ul {
        display: flex;
        flex-direction: row;
    }
    .icons li {
        margin: 0 20px;
    }

    .headerIcon:visited {
        color: #1F2022;
    }

    .headerIcon:hover,
    .headerIcon:focus {
        color: #E75605;
    }

    .hamburgerMenu input:checked ~ .sliderMenu {
        transform: none;
    }

    // header
    header {
        height: 100vh;
        background-size: contain;
        background-position: bottom;
    }

    h1 {
        margin: 0;
        padding-right: 0;
        padding-bottom: 50px;
        font-size: 8rem;
        line-height: 80px;
    }

    // main section
    main {
        text-align: center;
    }

    h2 {
        font-size: 3.5rem;
    }

    // section 1
    .exp1, .exp2 {
        flex-direction: column-reverse;
    }

    .expImg {
        width: 100vw;
        height: 30vh;
    }

    .experience img {
        width: 100%;
        position: relative;
    }

    .exp2 .expImg, .exp1 .expImg {
        left: -20px;
    }

    .expText {
        width: 92vw;
        height: 60vh;
        justify-content: space-evenly;
    }

    .exp1 h2, .exp1 p, .exp1 form {
        margin: 0;
    }

    .exp2 h2,
    .exp2 p,
    .exp2 form {
        margin: 0;
    }

    // section 2
    .dessertWrapper {
        margin: 0;
        flex-direction: column;
    }

    .imgContainer {
        width: 100%;
        margin-top: 40px;
        height: 35vh;
    }

    .textContainer {
        width: 100%;
        padding: 0;
        margin: 40px 0;
    }

    .imgContainer img {
        height: 100%;
        object-fit: cover;
    }

    // section 3
    h3 {
        font-size: 2.5rem;
    }
    .ctaContainer {
        height: 100vh;
    }

    .ctaWrapper {
        flex-direction: column;
    }

    .ctaBtn {
        margin: 30px 0;
    }

    // section 4
    .instaWrapper {
        margin: 0;
        padding: 40px
    }

    .instaPics li:nth-child(3) {
        display: none;
    }

    .instaPics li {
        width: calc(50% - 10px);
    }

    .gramImg2 {
        margin-right: 0;
    }

    // footer
    footer {
        text-align: center
    }
    .menu li {
        margin: 1px 30px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .contactInfo {
        padding-bottom: 30px;
    }
    .contactInfo p {
        line-height: 35px;
    }

    footer h2 {
        padding-left: 0;
    }

    footer form {
        display: flex;
        flex-direction: column;
    }

    #email {
        width: 100%;
        margin: 20px 0;
    }
}